@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brother';
  src: local('Brother'), 
  url('./fonts/Brother.ttf') format('truetype');
}

@font-face {
  font-family: 'Schoolbell';
  src: local('Schoolbell'), 
  url('./fonts/Schoolbell.ttf') format('truetype');
}

@font-face {
  font-family: 'Komika Slick';
  src: local('Komika Slick'), 
  url('./fonts/KOMIKSKI.ttf') format('truetype');
}

.stroke-brand {
  -webkit-text-stroke-color: #0541FB;
  -webkit-text-stroke-width: 1px;
}
